@charset "UTF-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

* {
    box-sizing: border-box;
   
    
}

body {
    color: #333;
}

#splash {
    /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background:#f2ebd1;
  text-align:center;
  color:#fff;
}

/* Loadingバー中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
    z-index: 999;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 100px;
}


#container{
    width:100%;
    height: 100vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


a{
    color: #333;
}

a:hover{
     text-decoration: none;   
}

.inner {
    width: 1000px;
    margin: auto;
}


header {
    background-color: #f2ebd1;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
@media screen and (max-width: 480px) {
    header {
        height: 94vh;
    }
}
  
  nav {
    width: 100%;
    height: 90px;
    background-color: #c7b897;
    padding-top: 40px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
  }
  @media screen and (max-width: 480px) {
    nav {
        height: 200px;
    }
  }
  ul {
    display: flex;
    justify-content: end;
  }
  
  li {
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
    margin-right: 50px;
    font-size: 27px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #f8f5e3;
  }
  a:hover {
    color: #652a0e;
  }
  @media screen and (max-width: 480px) {
    a {
        color: #f8f5e3;
    }
  }

  
  .sm {
    display: none;
  }
  
  
  /**********************************　
  以下、ハンバーガーメニューの設定　
  ************************************/
  
  @media screen and (max-width: 480px) {
  
    .pc {
      display: none;
    }
  
    #hamburger {
      background-color: transparent;
      position: relative;
      cursor: pointer;
      margin: 0 0 0 auto;
      height: 60px;
      width: 60px;
    }
  
    .icon span {
      position: absolute;
      left: 15px;
      width: 30px;
      height: 4px;
      background-color: #c7b897;
      border-radius: 8px;
      transition: ease 0.75s;
    }
  
    .icon span:nth-of-type(1) {
      top: 16px;
    }
    .icon span:nth-of-type(2) {
      top: 28px;
    }
    .icon span:nth-of-type(3) {
      bottom: 16px;
    }
  
    .close span:nth-of-type(1) {
      transform: rotate(45deg);
      top: 28px;
    }
  
    .close span:nth-of-type(2) {
      opacity: 0;
    }
  
    .close span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
    }
  
    .sm {
        top: 60px;
        left: 0px;
        z-index: 10;
        width: 100%;
        background-color: #c7b897;
        
    }
  
    ul {
      flex-direction: column;
    }
  
    a {
      text-align: center; 
      border-top: solid 0.5px rgba(255, 255, 255, 0.6);
    }
  }
 

header h1 {
    font-size: 90px;
    font-family: 'Pacifico', cursive;
    color: #652a0e;
    text-align: left;
    padding: 350px 100px;
}
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 45px;
        text-align: center;
    }
}


main {
    background-color: #f8f5e3;
}



main h3 {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: #652a0e;
}
section {
    width: 100%;
    padding: 80px 0;
}


/*=======================================

         first

  ===================== ================= */

section#first {
    width: 1000px;
    margin: auto;
    display: flex;
    background: url("../img/my photo.jpg") left center no-repeat;
    margin-top: 10px;
    margin-bottom: 25px;
}

@media screen and (max-width: 480px) {
    section#first {
        max-width: 100%;
        background: url("../img/my photo.jpg") 
        left center no-repeat;
        margin-top: 60px;
        background-size: auto 300px;
        background-position: center;
        background-position: top;
    }
}

section#first .inner {
    width: 500px;
    margin-right: 0;
    margin-left: auto;
}
@media screen and (max-width: 480px) {
    section#first .inner{
        padding-top: 225px;
    }
}
section#first p {
    padding-top: 3px;
    margin: 3em 0;
    text-align: left;
    line-height: 2em;
    color:  #652a0e;;
    font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 480px) {
    section#first p{
        padding-top: 30px;
        margin: 2em ;
        font-size: 18px;
    }
}
/*============================================

     second

 =============================================*/    
section#second {
    padding: 0;
    background-color: #f2ebd1;
}


section#second h2 {
    padding-bottom: 50px;
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: #652a0e;
}


section#second .img-area {
    margin-top: 20px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media screen and (max-width: 480px) {
    section#second .img-area {
       display: block;
    }
    
}
@media screen and (max-width: 480px) {

  section#second .inner {
    width: 400px;
    margin-left: auto;
    }

}

.img-area img {
    width: 400px;
}
@media screen and (max-width: 480px) {
    .img-area img {
        width: 300px;
    }
}
section#second .img-area a {
    font-size: 15px;
}
section#second .img-area img:nth-of-type(n + 3) {
    margin-top: 60px;
}

section#second .img-area figure figcaption {
    margin-bottom: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #652a0e;
}
 
section#second .switch {
    margin-top: 30px;
    padding-bottom: 50px;
    margin-right: 400px;
    margin-left: 400px;
}

@media screen and (max-width: 480px) {
    
section#second .switch {
    width: 400px;
    margin: auto;
    padding-left: 65px;
    padding-right: 65px;
    }
}
#second .switch .btn {
    font-size: 15px;
    margin: 0 auto;
}


/*=====================================
 
               contact

 ====================================*/
#contact {
    background-color: #f8f5e3;
    padding: 0%;
    padding-bottom: 50px;
}
#contact h2 {
    padding-bottom: 50px;
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color: #652a0e;
}
@media screen and (max-width: 480px) {
    #contact h2 {
        margin: auto;
    }
}
#contact p {
    line-height: 1.8;
    text-align: center;
    color: #652a0e;
}

.sth {
    margin-top: 80px;
    margin-left: 520px;
    margin-right: 455px;
}

@media screen and (max-width: 480px) {
 .sth {
    width: 400px;
    padding-right: 30px;
    padding-left: 80px;
    padding-top: 30px;
    margin: 0 auto;
    }
}
.btn {
    border-radius: 5px;
    background-color: #c7b897;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }


footer {
    background: #f8f5e3;
    text-align: center;
    padding: 20px 0;
}
@media screen and (max-width: 480px) {
  footer .inner {
    width: 400px;
    margin-left: auto;
  }
}
